In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("C:\\Users\\kinch\\downloads\\bank.csv")

df.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes

In [38]:
df.tail(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

In [39]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
deposit      object
dtype: object

In [40]:
for k in df.keys():
    print("Total number of values in {} is {}".format(k,df[k].count()))

Total number of values in age is 11162
Total number of values in job is 11162
Total number of values in marital is 11162
Total number of values in education is 11162
Total number of values in default is 11162
Total number of values in balance is 11162
Total number of values in housing is 11162
Total number of values in loan is 11162
Total number of values in contact is 11162
Total number of values in day is 11162
Total number of values in month is 11162
Total number of values in duration is 11162
Total number of values in campaign is 11162
Total number of values in pdays is 11162
Total number of values in previous is 11162
Total number of values in poutcome is 11162
Total number of values in deposit is 11162

In [41]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64